.home-hero {
  padding: 60px 0;
}

.home-hero h1 {
  font-size: 3rem;
}

.home-hero img {
  max-height: 400px;
}

.product-listing {
  padding-bottom: 60px;
}

.card {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .product-listing .col {
    padding-left: 80px;
    padding-right: 80px;
  }
}